<!-- this is what will render on every page, eg. header/footer -->
<head>
    <meta charset="utf-8">
    <title>Greetings WebApp</title>
    <link rel="stylesheet" href="/css/index-grid.css">
    <link rel="stylesheet" href="/css/greet.css">
</head>
  <body>
    {{{body}}}
  </body>
